.cardx {
    /* margin-top: 30px;
    margin-left: -100px; */
}

.home-card{
    margin-top: 20px;
    margin-left: -100px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}